.profile-card {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 350px;
    backdrop-filter: none;
    filter: none;
    border: none;
    background: none;
    margin: 10px;
}