.website-list {
    margin-top: 20px;
    /* 上边距 */
}

.website-row {
    display: flex;
    /* 使用 Flexbox */
    justify-content: center;
    /* 水平居中 */
    margin-bottom: 10px;
    /* 行间距 */
}

.website-item {
    background: rgba(255, 255, 255, 0.8);
    /* 半透明背景 */
    border-radius: 8px;
    /* 圆角 */
    margin: 10px;
    /* 外边距 */
    padding: 20px;
    /* 内边距 */
    text-align: center;
    /* 文本居中 */
    width: 120px;
    /* 固定宽度 */
    height: 120px;
    /* 固定高度 */
    display: flex;
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    /* 水平居中 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 阴影效果 */
}

.icon {
    font-size: 24px;
    /* 图标字体大小 */
    text-decoration: none;
    /* 去掉下划线 */
    color: black;
    /* 字体颜色 */
}